# SPDX-FileCopyrightText: 2025 DB Systel GmbH
#
# SPDX-License-Identifier: Apache-2.0

name: Selftest Action

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed
  push:
    branches:
      - main

env:
  ssh_key: ${{ secrets.SSH_PRIVATE_KEY }}
  dir_preview_subdir: "webdeploy-pr-${{ github.event.number }}"
  condition_production: ${{ github.ref == 'refs/heads/main' }}

jobs:
  build:
    name: Build Website (Placeholder)
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Build website
        run: |
          echo "Simulating build..."
          mkdir -p dist
          echo "<html><body>
          <p>Hello world: <a href="https://openrailassociation.org">LINK 1</a></p>
          <p>Don't linkcheck me: <a href="https://example.com">LINK 2</a></p>
          <p>Relative link: <a href="foobar.html">LINK 3</a></p>
          <p>${{ github.ref }}.${{ github.event.pull_request.head.sha }}</p>
          </body></html>" > dist/index.html
          echo "baz" > dist/foobar.html

      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: website
          path: dist

  deploy:
    name: Web Deployment
    needs: build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Call action locally
        uses: ./
        with:
          artifact_name: website
          condition_production: ${{ env.condition_production }}
          domain_production: https://web-deployment-action.openrailassociation.org
          domain_preview: https://web-preview.openrailassociation.org
          dir_base: "/var/www/virtual/openrail"
          dir_production: "web-deployment-action.openrailassociation.org"
          dir_preview_base: "web-preview.openrailassociation.org"
          dir_preview_subdir: ${{ env.dir_preview_subdir }}
          ssh_host: uberspace1.openrailassociation.org
          ssh_user: openrail
          ssh_key: ${{ secrets.SSH_PRIVATE_KEY }}
          linkchecker_exclude: "example.com,example.org"
          linkchecker_include_fragments: true
          linkchecker_verbose: true
          gh_deployment: "preview"
